
#contents {
    animation: fade 2s linear;
}
@keyframes fade{
    0%{opacity: 0.1;}
    100%{opacity: 1;}
}
#contents #section1 {
    animation: zoom 1s linear;
}
@keyframes zoom{
    0%{transform: scale(2);}
    100%{transform: scale(1);}
}
#contents #section1 .title {
    animation: no1 2s;
}
@keyframes no1{
    0%{transform: scale(0); opacity: 0;}
    50%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
#header {
    animation: no 2s;

}
@keyframes no{
    0%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}