.square {
  width: 1920px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.light {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #F5BAC4;
  position: relative;
  float: left;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.light:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 120px;
  height: 120px;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 0;
  border-radius: 100px;
}

.light:nth-child(3n+150) {
  margin-left: 38px;
  -webkit-animation: orbit 6s linear -14s infinite;
  animation: orbit 6s linear -14s infinite;
  background: #B2D4D8;
  background: url(../img/babypinkbear.svg) center center;
}

.light:nth-child(3n+150):hover:after {
  background: #fff;
  opacity: 0.4;
}

.light:nth-child(3n + 1) {
  margin-left: 387px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 2) {
  margin-left: 711px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 3) {
  margin-left: 751px;
  -webkit-animation: orbit 6s linear -147s infinite;
          animation: orbit 6s linear -147s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 4) {
  margin-left: 465px;
  -webkit-animation: orbit 6s linear -146s infinite;
          animation: orbit 6s linear -146s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 5) {
  margin-left: 13px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 6) {
  margin-left: 79px;
  -webkit-animation: orbit 6s linear -144s infinite;
          animation: orbit 6s linear -144s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 7) {
  margin-left: 531px;
  -webkit-animation: orbit 6s linear -146s infinite;
          animation: orbit 6s linear -146s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 8) {
  margin-left: 705px;
  -webkit-animation: orbit 6s linear -146s infinite;
          animation: orbit 6s linear -146s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 9) {
  margin-left: 681px;
  -webkit-animation: orbit 6s linear -148s infinite;
          animation: orbit 6s linear -148s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 10) {
  margin-left: 878px;
  -webkit-animation: orbit 6s linear -146s infinite;
          animation: orbit 6s linear -146s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 11) {
  margin-left: 817px;
  -webkit-animation: orbit 6s linear -143s infinite;
          animation: orbit 6s linear -143s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 12) {
  margin-left: 400px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 13) {
  margin-left: 612px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 14) {
  margin-left: 210px;
  -webkit-animation: orbit 6s linear -138s infinite;
          animation: orbit 6s linear -138s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 15) {
  margin-left: 856px;
  -webkit-animation: orbit 6s linear -139s infinite;
          animation: orbit 6s linear -139s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 16) {
  margin-left: 577px;
  -webkit-animation: orbit 6s linear -145s infinite;
          animation: orbit 6s linear -145s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 17) {
  margin-left: 230px;
  -webkit-animation: orbit 6s linear -134s infinite;
          animation: orbit 6s linear -134s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 18) {
  margin-left: 127px;
  -webkit-animation: orbit 6s linear -147s infinite;
          animation: orbit 6s linear -147s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 19) {
  margin-left: 335px;
  -webkit-animation: orbit 6s linear -140s infinite;
          animation: orbit 6s linear -140s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 20) {
  margin-left: 154px;
  -webkit-animation: orbit 6s linear -143s infinite;
          animation: orbit 6s linear -143s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 21) {
  margin-left: 340px;
  -webkit-animation: orbit 6s linear -140s infinite;
          animation: orbit 6s linear -140s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 22) {
  margin-left: 288px;
  -webkit-animation: orbit 6s linear -144s infinite;
          animation: orbit 6s linear -144s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 23) {
  margin-left: 115px;
  -webkit-animation: orbit 6s linear -129s infinite;
          animation: orbit 6s linear -129s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 24) {
  margin-left: 7px;
  -webkit-animation: orbit 6s linear -137s infinite;
          animation: orbit 6s linear -137s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 25) {
  margin-left: 204px;
  -webkit-animation: orbit 6s linear -147s infinite;
          animation: orbit 6s linear -147s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 26) {
  margin-left: 981px;
  -webkit-animation: orbit 6s linear -141s infinite;
          animation: orbit 6s linear -141s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 27) {
  margin-left: 482px;
  -webkit-animation: orbit 6s linear -136s infinite;
          animation: orbit 6s linear -136s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 28) {
  margin-left: 152px;
  -webkit-animation: orbit 6s linear -137s infinite;
          animation: orbit 6s linear -137s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 29) {
  margin-left: 567px;
  -webkit-animation: orbit 6s linear -145s infinite;
          animation: orbit 6s linear -145s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 30) {
  margin-left: 366px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 31) {
  margin-left: 732px;
  -webkit-animation: orbit 6s linear -140s infinite;
          animation: orbit 6s linear -140s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 32) {
  margin-left: 358px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 33) {
  margin-left: 664px;
  -webkit-animation: orbit 6s linear -148s infinite;
          animation: orbit 6s linear -148s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 34) {
  margin-left: 12px;
  -webkit-animation: orbit 6s linear -143s infinite;
          animation: orbit 6s linear -143s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 35) {
  margin-left: 236px;
  -webkit-animation: orbit 6s linear -147s infinite;
          animation: orbit 6s linear -147s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 36) {
  margin-left: 105px;
  -webkit-animation: orbit 6s linear -144s infinite;
          animation: orbit 6s linear -144s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 37) {
  margin-left: 412px;
  -webkit-animation: orbit 6s linear -147s infinite;
          animation: orbit 6s linear -147s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 38) {
  margin-left: 959px;
  -webkit-animation: orbit 6s linear -132s infinite;
          animation: orbit 6s linear -132s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 39) {
  margin-left: 813px;
  -webkit-animation: orbit 6s linear -114s infinite;
          animation: orbit 6s linear -114s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 40) {
  margin-left: 418px;
  -webkit-animation: orbit 6s linear -125s infinite;
          animation: orbit 6s linear -125s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 41) {
  margin-left: 176px;
  -webkit-animation: orbit 6s linear -142s infinite;
          animation: orbit 6s linear -142s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 42) {
  margin-left: 210px;
  -webkit-animation: orbit 6s linear -120s infinite;
          animation: orbit 6s linear -120s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 43) {
  margin-left: 939px;
  -webkit-animation: orbit 6s linear -126s infinite;
          animation: orbit 6s linear -126s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 44) {
  margin-left: 151px;
  -webkit-animation: orbit 6s linear -124s infinite;
          animation: orbit 6s linear -124s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 45) {
  margin-left: 602px;
  -webkit-animation: orbit 6s linear -109s infinite;
          animation: orbit 6s linear -109s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 46) {
  margin-left: 979px;
  -webkit-animation: orbit 6s linear -132s infinite;
          animation: orbit 6s linear -132s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 47) {
  margin-left: 374px;
  -webkit-animation: orbit 6s linear -113s infinite;
          animation: orbit 6s linear -113s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 48) {
  margin-left: 631px;
  -webkit-animation: orbit 6s linear -142s infinite;
          animation: orbit 6s linear -142s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 49) {
  margin-left: 672px;
  -webkit-animation: orbit 6s linear -124s infinite;
          animation: orbit 6s linear -124s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 50) {
  margin-left: 805px;
  -webkit-animation: orbit 6s linear -116s infinite;
          animation: orbit 6s linear -116s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 51) {
  margin-left: 201px;
  -webkit-animation: orbit 6s linear -136s infinite;
          animation: orbit 6s linear -136s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 52) {
  margin-left: 992px;
  -webkit-animation: orbit 6s linear -149s infinite;
          animation: orbit 6s linear -149s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 53) {
  margin-left: 800px;
  -webkit-animation: orbit 6s linear -129s infinite;
          animation: orbit 6s linear -129s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 54) {
  margin-left: 43px;
  -webkit-animation: orbit 6s linear -120s infinite;
          animation: orbit 6s linear -120s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 55) {
  margin-left: 603px;
  -webkit-animation: orbit 6s linear -128s infinite;
          animation: orbit 6s linear -128s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 56) {
  margin-left: 707px;
  -webkit-animation: orbit 6s linear -109s infinite;
          animation: orbit 6s linear -109s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 57) {
  margin-left: 689px;
  -webkit-animation: orbit 6s linear -141s infinite;
          animation: orbit 6s linear -141s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 58) {
  margin-left: 72px;
  -webkit-animation: orbit 6s linear -141s infinite;
          animation: orbit 6s linear -141s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 59) {
  margin-left: 478px;
  -webkit-animation: orbit 6s linear -99s infinite;
          animation: orbit 6s linear -99s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 60) {
  margin-left: 175px;
  -webkit-animation: orbit 6s linear -120s infinite;
          animation: orbit 6s linear -120s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 61) {
  margin-left: 313px;
  -webkit-animation: orbit 6s linear -96s infinite;
          animation: orbit 6s linear -96s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 62) {
  margin-left: 254px;
  -webkit-animation: orbit 6s linear -96s infinite;
          animation: orbit 6s linear -96s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 63) {
  margin-left: 676px;
  -webkit-animation: orbit 6s linear -137s infinite;
          animation: orbit 6s linear -137s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 64) {
  margin-left: 32px;
  -webkit-animation: orbit 6s linear -139s infinite;
          animation: orbit 6s linear -139s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 65) {
  margin-left: 370px;
  -webkit-animation: orbit 6s linear -122s infinite;
          animation: orbit 6s linear -122s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 66) {
  margin-left: 537px;
  -webkit-animation: orbit 6s linear -103s infinite;
          animation: orbit 6s linear -103s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 67) {
  margin-left: 280px;
  -webkit-animation: orbit 6s linear -119s infinite;
          animation: orbit 6s linear -119s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 68) {
  margin-left: 437px;
  -webkit-animation: orbit 6s linear -109s infinite;
          animation: orbit 6s linear -109s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 69) {
  margin-left: 294px;
  -webkit-animation: orbit 6s linear -101s infinite;
          animation: orbit 6s linear -101s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 70) {
  margin-left: 938px;
  -webkit-animation: orbit 6s linear -109s infinite;
          animation: orbit 6s linear -109s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 71) {
  margin-left: 617px;
  -webkit-animation: orbit 6s linear -79s infinite;
          animation: orbit 6s linear -79s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 72) {
  margin-left: 786px;
  -webkit-animation: orbit 6s linear -122s infinite;
          animation: orbit 6s linear -122s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 73) {
  margin-left: 834px;
  -webkit-animation: orbit 6s linear -113s infinite;
          animation: orbit 6s linear -113s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 74) {
  margin-left: 157px;
  -webkit-animation: orbit 6s linear -132s infinite;
          animation: orbit 6s linear -132s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 75) {
  margin-left: 592px;
  -webkit-animation: orbit 6s linear -118s infinite;
          animation: orbit 6s linear -118s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 76) {
  margin-left: 528px;
  -webkit-animation: orbit 6s linear -87s infinite;
          animation: orbit 6s linear -87s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 77) {
  margin-left: 814px;
  -webkit-animation: orbit 6s linear -100s infinite;
          animation: orbit 6s linear -100s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 78) {
  margin-left: 964px;
  -webkit-animation: orbit 6s linear -99s infinite;
          animation: orbit 6s linear -99s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 79) {
  margin-left: 765px;
  -webkit-animation: orbit 6s linear -100s infinite;
          animation: orbit 6s linear -100s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 80) {
  margin-left: 942px;
  -webkit-animation: orbit 6s linear -84s infinite;
          animation: orbit 6s linear -84s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 81) {
  margin-left: 393px;
  -webkit-animation: orbit 6s linear -132s infinite;
          animation: orbit 6s linear -132s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 82) {
  margin-left: 432px;
  -webkit-animation: orbit 6s linear -115s infinite;
          animation: orbit 6s linear -115s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 83) {
  margin-left: 494px;
  -webkit-animation: orbit 6s linear -131s infinite;
          animation: orbit 6s linear -131s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 84) {
  margin-left: 867px;
  -webkit-animation: orbit 6s linear -76s infinite;
          animation: orbit 6s linear -76s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 85) {
  margin-left: 461px;
  -webkit-animation: orbit 6s linear -131s infinite;
          animation: orbit 6s linear -131s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 86) {
  margin-left: 517px;
  -webkit-animation: orbit 6s linear -89s infinite;
          animation: orbit 6s linear -89s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 87) {
  margin-left: 607px;
  -webkit-animation: orbit 6s linear -136s infinite;
          animation: orbit 6s linear -136s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 88) {
  margin-left: 2px;
  -webkit-animation: orbit 6s linear -66s infinite;
          animation: orbit 6s linear -66s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 89) {
  margin-left: 350px;
  -webkit-animation: orbit 6s linear -106s infinite;
          animation: orbit 6s linear -106s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 90) {
  margin-left: 649px;
  -webkit-animation: orbit 6s linear -66s infinite;
          animation: orbit 6s linear -66s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 91) {
  margin-left: 389px;
  -webkit-animation: orbit 6s linear -62s infinite;
          animation: orbit 6s linear -62s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 92) {
  margin-left: 835px;
  -webkit-animation: orbit 6s linear -146s infinite;
          animation: orbit 6s linear -146s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 93) {
  margin-left: 285px;
  -webkit-animation: orbit 6s linear -129s infinite;
          animation: orbit 6s linear -129s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 94) {
  margin-left: 325px;
  -webkit-animation: orbit 6s linear -138s infinite;
          animation: orbit 6s linear -138s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 95) {
  margin-left: 926px;
  -webkit-animation: orbit 6s linear -113s infinite;
          animation: orbit 6s linear -113s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 96) {
  margin-left: 732px;
  -webkit-animation: orbit 6s linear -101s infinite;
          animation: orbit 6s linear -101s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 97) {
  margin-left: 298px;
  -webkit-animation: orbit 6s linear -148s infinite;
          animation: orbit 6s linear -148s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 98) {
  margin-left: 681px;
  -webkit-animation: orbit 6s linear -60s infinite;
          animation: orbit 6s linear -60s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 99) {
  margin-left: 480px;
  -webkit-animation: orbit 6s linear -130s infinite;
          animation: orbit 6s linear -130s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 100) {
  margin-left: 961px;
  -webkit-animation: orbit 6s linear -57s infinite;
          animation: orbit 6s linear -57s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 101) {
  margin-left: 419px;
  -webkit-animation: orbit 6s linear -55s infinite;
          animation: orbit 6s linear -55s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 102) {
  margin-left: 116px;
  -webkit-animation: orbit 6s linear -148s infinite;
          animation: orbit 6s linear -148s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 103) {
  margin-left: 942px;
  -webkit-animation: orbit 6s linear -88s infinite;
          animation: orbit 6s linear -88s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 104) {
  margin-left: 506px;
  -webkit-animation: orbit 6s linear -148s infinite;
          animation: orbit 6s linear -148s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 105) {
  margin-left: 756px;
  -webkit-animation: orbit 6s linear -108s infinite;
          animation: orbit 6s linear -108s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 106) {
  margin-left: 979px;
  -webkit-animation: orbit 6s linear -73s infinite;
          animation: orbit 6s linear -73s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 107) {
  margin-left: 402px;
  -webkit-animation: orbit 6s linear -105s infinite;
          animation: orbit 6s linear -105s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 108) {
  margin-left: 639px;
  -webkit-animation: orbit 6s linear -77s infinite;
          animation: orbit 6s linear -77s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 109) {
  margin-left: 954px;
  -webkit-animation: orbit 6s linear -145s infinite;
          animation: orbit 6s linear -145s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 110) {
  margin-left: 829px;
  -webkit-animation: orbit 6s linear -104s infinite;
          animation: orbit 6s linear -104s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 111) {
  margin-left: 273px;
  -webkit-animation: orbit 6s linear -91s infinite;
          animation: orbit 6s linear -91s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 112) {
  margin-left: 90px;
  -webkit-animation: orbit 6s linear -53s infinite;
          animation: orbit 6s linear -53s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 113) {
  margin-left: 896px;
  -webkit-animation: orbit 6s linear -143s infinite;
          animation: orbit 6s linear -143s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 114) {
  margin-left: 877px;
  -webkit-animation: orbit 6s linear -133s infinite;
          animation: orbit 6s linear -133s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 115) {
  margin-left: 163px;
  -webkit-animation: orbit 6s linear -39s infinite;
          animation: orbit 6s linear -39s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 116) {
  margin-left: 338px;
  -webkit-animation: orbit 6s linear -119s infinite;
          animation: orbit 6s linear -119s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 117) {
  margin-left: 858px;
  -webkit-animation: orbit 6s linear -82s infinite;
          animation: orbit 6s linear -82s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 118) {
  margin-left: 212px;
  -webkit-animation: orbit 6s linear -60s infinite;
          animation: orbit 6s linear -60s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 119) {
  margin-left: 691px;
  -webkit-animation: orbit 6s linear -53s infinite;
          animation: orbit 6s linear -53s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 120) {
  margin-left: 492px;
  -webkit-animation: orbit 6s linear -86s infinite;
          animation: orbit 6s linear -86s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 121) {
  margin-left: 568px;
  -webkit-animation: orbit 6s linear -82s infinite;
          animation: orbit 6s linear -82s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 122) {
  margin-left: 787px;
  -webkit-animation: orbit 6s linear -28s infinite;
          animation: orbit 6s linear -28s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 123) {
  margin-left: 326px;
  -webkit-animation: orbit 6s linear -66s infinite;
          animation: orbit 6s linear -66s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 124) {
  margin-left: 169px;
  -webkit-animation: orbit 6s linear -98s infinite;
          animation: orbit 6s linear -98s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 125) {
  margin-left: 888px;
  -webkit-animation: orbit 6s linear -79s infinite;
          animation: orbit 6s linear -79s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 126) {
  margin-left: 203px;
  -webkit-animation: orbit 6s linear -71s infinite;
          animation: orbit 6s linear -71s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 127) {
  margin-left: 824px;
  -webkit-animation: orbit 6s linear -126s infinite;
          animation: orbit 6s linear -126s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 128) {
  margin-left: 830px;
  -webkit-animation: orbit 6s linear -85s infinite;
          animation: orbit 6s linear -85s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 129) {
  margin-left: 466px;
  -webkit-animation: orbit 6s linear -117s infinite;
          animation: orbit 6s linear -117s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 130) {
  margin-left: 316px;
  -webkit-animation: orbit 6s linear -88s infinite;
          animation: orbit 6s linear -88s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 131) {
  margin-left: 146px;
  -webkit-animation: orbit 6s linear -46s infinite;
          animation: orbit 6s linear -46s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 132) {
  margin-left: 76px;
  -webkit-animation: orbit 6s linear -42s infinite;
          animation: orbit 6s linear -42s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 133) {
  margin-left: 725px;
  -webkit-animation: orbit 6s linear -133s infinite;
          animation: orbit 6s linear -133s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 134) {
  margin-left: 256px;
  -webkit-animation: orbit 6s linear -136s infinite;
          animation: orbit 6s linear -136s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 135) {
  margin-left: 565px;
  -webkit-animation: orbit 6s linear -115s infinite;
          animation: orbit 6s linear -115s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 136) {
  margin-left: 463px;
  -webkit-animation: orbit 6s linear -45s infinite;
          animation: orbit 6s linear -45s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 137) {
  margin-left: 688px;
  -webkit-animation: orbit 6s linear -55s infinite;
          animation: orbit 6s linear -55s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 138) {
  margin-left: 721px;
  -webkit-animation: orbit 6s linear -65s infinite;
          animation: orbit 6s linear -65s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 139) {
  margin-left: 132px;
  -webkit-animation: orbit 6s linear -106s infinite;
          animation: orbit 6s linear -106s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 140) {
  margin-left: 193px;
  -webkit-animation: orbit 6s linear -145s infinite;
          animation: orbit 6s linear -145s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 141) {
  margin-left: 656px;
  -webkit-animation: orbit 6s linear -24s infinite;
          animation: orbit 6s linear -24s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 142) {
  margin-left: 84px;
  -webkit-animation: orbit 6s linear -31s infinite;
          animation: orbit 6s linear -31s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 143) {
  margin-left: 608px;
  -webkit-animation: orbit 6s linear -79s infinite;
          animation: orbit 6s linear -79s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 144) {
  margin-left: 225px;
  -webkit-animation: orbit 6s linear -17s infinite;
          animation: orbit 6s linear -17s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 145) {
  margin-left: 308px;
  -webkit-animation: orbit 6s linear -137s infinite;
          animation: orbit 6s linear -137s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 146) {
  margin-left: 895px;
  -webkit-animation: orbit 6s linear -90s infinite;
          animation: orbit 6s linear -90s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 147) {
  margin-left: 997px;
  -webkit-animation: orbit 6s linear -103s infinite;
          animation: orbit 6s linear -103s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 148) {
  margin-left: 884px;
  -webkit-animation: orbit 6s linear -70s infinite;
          animation: orbit 6s linear -70s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 149) {
  margin-left: 248px;
  -webkit-animation: orbit 6s linear -49s infinite;
          animation: orbit 6s linear -49s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 150) {
  margin-left: 373px;
  -webkit-animation: orbit 6s linear -131s infinite;
          animation: orbit 6s linear -131s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 151) {
  margin-left: 565px;
  -webkit-animation: orbit 6s linear -85s infinite;
          animation: orbit 6s linear -85s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 152) {
  margin-left: 315px;
  -webkit-animation: orbit 6s linear -115s infinite;
          animation: orbit 6s linear -115s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 153) {
  margin-left: 224px;
  -webkit-animation: orbit 6s linear -46s infinite;
          animation: orbit 6s linear -46s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 154) {
  margin-left: 473px;
  -webkit-animation: orbit 6s linear -61s infinite;
          animation: orbit 6s linear -61s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 155) {
  margin-left: 708px;
  -webkit-animation: orbit 6s linear -79s infinite;
          animation: orbit 6s linear -79s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 156) {
  margin-left: 53px;
  -webkit-animation: orbit 6s linear -83s infinite;
          animation: orbit 6s linear -83s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 157) {
  margin-left: 471px;
  -webkit-animation: orbit 6s linear -101s infinite;
          animation: orbit 6s linear -101s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 158) {
  margin-left: 428px;
  -webkit-animation: orbit 6s linear 1s infinite;
          animation: orbit 6s linear 1s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 159) {
  margin-left: 778px;
  -webkit-animation: orbit 6s linear -116s infinite;
          animation: orbit 6s linear -116s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 160) {
  margin-left: 369px;
  -webkit-animation: orbit 6s linear -83s infinite;
          animation: orbit 6s linear -83s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 161) {
  margin-left: 501px;
  -webkit-animation: orbit 6s linear -73s infinite;
          animation: orbit 6s linear -73s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 162) {
  margin-left: 121px;
  -webkit-animation: orbit 6s linear -142s infinite;
          animation: orbit 6s linear -142s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 163) {
  margin-left: 686px;
  -webkit-animation: orbit 6s linear -81s infinite;
          animation: orbit 6s linear -81s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 164) {
  margin-left: 562px;
  -webkit-animation: orbit 6s linear -144s infinite;
          animation: orbit 6s linear -144s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 165) {
  margin-left: 438px;
  -webkit-animation: orbit 6s linear -100s infinite;
          animation: orbit 6s linear -100s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 166) {
  margin-left: 571px;
  -webkit-animation: orbit 6s linear 12s infinite;
          animation: orbit 6s linear 12s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 167) {
  margin-left: 384px;
  -webkit-animation: orbit 6s linear -98s infinite;
          animation: orbit 6s linear -98s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 168) {
  margin-left: 987px;
  -webkit-animation: orbit 6s linear -73s infinite;
          animation: orbit 6s linear -73s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 169) {
  margin-left: 205px;
  -webkit-animation: orbit 6s linear -83s infinite;
          animation: orbit 6s linear -83s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 170) {
  margin-left: 784px;
  -webkit-animation: orbit 6s linear -57s infinite;
          animation: orbit 6s linear -57s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 171) {
  margin-left: 699px;
  -webkit-animation: orbit 6s linear -48s infinite;
          animation: orbit 6s linear -48s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 172) {
  margin-left: 154px;
  -webkit-animation: orbit 6s linear -103s infinite;
          animation: orbit 6s linear -103s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 173) {
  margin-left: 958px;
  -webkit-animation: orbit 6s linear 17s infinite;
          animation: orbit 6s linear 17s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 174) {
  margin-left: 224px;
  -webkit-animation: orbit 6s linear -100s infinite;
          animation: orbit 6s linear -100s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 175) {
  margin-left: 29px;
  -webkit-animation: orbit 6s linear 17s infinite;
          animation: orbit 6s linear 17s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 176) {
  margin-left: 254px;
  -webkit-animation: orbit 6s linear -13s infinite;
          animation: orbit 6s linear -13s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 177) {
  margin-left: 365px;
  -webkit-animation: orbit 6s linear -28s infinite;
          animation: orbit 6s linear -28s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 178) {
  margin-left: 956px;
  -webkit-animation: orbit 6s linear 0s infinite;
          animation: orbit 6s linear 0s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 179) {
  margin-left: 324px;
  -webkit-animation: orbit 6s linear -32s infinite;
          animation: orbit 6s linear -32s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 180) {
  margin-left: 228px;
  -webkit-animation: orbit 6s linear -73s infinite;
          animation: orbit 6s linear -73s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 181) {
  margin-left: 658px;
  -webkit-animation: orbit 6s linear -121s infinite;
          animation: orbit 6s linear -121s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 182) {
  margin-left: 234px;
  -webkit-animation: orbit 6s linear -131s infinite;
          animation: orbit 6s linear -131s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 183) {
  margin-left: 926px;
  -webkit-animation: orbit 6s linear -116s infinite;
          animation: orbit 6s linear -116s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 184) {
  margin-left: 671px;
  -webkit-animation: orbit 6s linear -113s infinite;
          animation: orbit 6s linear -113s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 185) {
  margin-left: 585px;
  -webkit-animation: orbit 6s linear -137s infinite;
          animation: orbit 6s linear -137s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 186) {
  margin-left: 603px;
  -webkit-animation: orbit 6s linear -91s infinite;
          animation: orbit 6s linear -91s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 187) {
  margin-left: 101px;
  -webkit-animation: orbit 6s linear 31s infinite;
          animation: orbit 6s linear 31s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 188) {
  margin-left: 296px;
  -webkit-animation: orbit 6s linear -107s infinite;
          animation: orbit 6s linear -107s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 189) {
  margin-left: 560px;
  -webkit-animation: orbit 6s linear -148s infinite;
          animation: orbit 6s linear -148s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 190) {
  margin-left: 38px;
  -webkit-animation: orbit 6s linear -71s infinite;
          animation: orbit 6s linear -71s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 191) {
  margin-left: 384px;
  -webkit-animation: orbit 6s linear -106s infinite;
          animation: orbit 6s linear -106s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 192) {
  margin-left: 134px;
  -webkit-animation: orbit 6s linear -121s infinite;
          animation: orbit 6s linear -121s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 193) {
  margin-left: 10px;
  -webkit-animation: orbit 6s linear -10s infinite;
          animation: orbit 6s linear -10s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 194) {
  margin-left: 147px;
  -webkit-animation: orbit 6s linear -19s infinite;
          animation: orbit 6s linear -19s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 195) {
  margin-left: 308px;
  -webkit-animation: orbit 6s linear -47s infinite;
          animation: orbit 6s linear -47s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 196) {
  margin-left: 238px;
  -webkit-animation: orbit 6s linear 33s infinite;
          animation: orbit 6s linear 33s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 197) {
  margin-left: 54px;
  -webkit-animation: orbit 6s linear 27s infinite;
          animation: orbit 6s linear 27s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 198) {
  margin-left: 382px;
  -webkit-animation: orbit 6s linear -6s infinite;
          animation: orbit 6s linear -6s infinite;
  background: #F5BAC4;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 199) {
  margin-left: 451px;
  -webkit-animation: orbit 6s linear 31s infinite;
          animation: orbit 6s linear 31s infinite;
  background: #F5D8D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

.light:nth-child(3n + 200) {
  margin-left: 701px;
  -webkit-animation: orbit 6s linear -75s infinite;
          animation: orbit 6s linear -75s infinite;
  background: #B2D4D8;
}

.light:hover:after {
  background: #ffffff;
  opacity: .1;
}

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) scale(1);
            transform: rotate(0deg) translateX(5px) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(5px) rotate(-180deg) scale(0.25);
            transform: rotate(180deg) translateX(5px) rotate(-180deg) scale(0.25);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) scale(1);
            transform: rotate(360deg) translateX(5px) rotate(-360deg) scale(1);
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg) scale(1);
            transform: rotate(0deg) translateX(5px) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(5px) rotate(-180deg) scale(0.25);
            transform: rotate(180deg) translateX(5px) rotate(-180deg) scale(0.25);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg) scale(1);
            transform: rotate(360deg) translateX(5px) rotate(-360deg) scale(1);
  }
}
