@charset "UTF-8";
* {margin: 0; padding: 0; box-sizing: border-box; color: #2C2828;}
li {list-style: none;}
a {text-decoration: none; color: #2C2828;}
em {font-style: normal;}
body {overflow-x: hidden; overflow-y: auto; background-color: #f4f4f2; font-family: 'EliceDigitalBaeum_Regular';}
::selection {background-color: rgba(214, 255, 255, 0.212); color: rgb(255, 203, 203); -webkit-text-stroke: 1px #ffffff;}

::-webkit-scrollbar { width: 15px; } ::-webkit-scrollbar-track { background-color: #b2d4d8a4; } ::-webkit-scrollbar-thumb { background-color: #B2D4D8;}


/* 폰트 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 엘리스 배움체 */
@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* layout */

#main {
    height: 100vh;
}
#contents {}
#section1 {
    padding: 0 3vw;
    /* height: 300vh; */
}
#section2 {

}
#section3 {
    height: 200vh;
}
#section4 {
    
}
#section5 {
    height: 120vh;
}

#section6 {
    height: 420vh;
}
#section7 {
    height: 100vh;
}



/* header */
#header {
    position: fixed;
    z-index: 10;
    text-align: right;
    right: 3vw;
    top: 3.5vh;
}
#header .nav a {
    color: #fff;
    display: block;
    margin-top: 25px;
    font-size: 1.3vw;
    font-family: 'Cafe24SsurroundAir';
    font-weight: 100;
}
#header .nav .submenu {
    display: none;
}
#header .nav img {
    width: 1.5vw;
}


@media (max-width: 800px){
    #header {
        top: 2.5vh;
    }
    #header .nav img {
        width: 3vw;
    }
    #header .nav a {
        margin-top: 25px;
        font-size: 3vw;
    }
}


/* main */
#main .img-Wrap {
    position: relative;
}
#main .img-Wrap .img {
    width: 100%;
    height: 100vh;
    background-image: url(../img/main.jpg);
    background-size: cover;
    opacity: 0.8;
}
#main .txt-Wrap h1, h2{
    color: #fff;
    left: 3vw;
}
#main .txt-Wrap h2{
    position: absolute;
    top: 3vh;
    font-family: 'Cafe24SsurroundAir';
    font-weight: 100;
    font-size: 1.8vw;
    line-height: 1.3;
}
#main .txt-Wrap h1 {
    position: absolute;
    bottom: 14vh;
    font-family: 'SBAggroB';
    font-size: 11.86vw;
    line-height: 0.5;
}
#main .txt-Wrap .desc {
    color: #fff;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
    font-size: 2vw;
    z-index: 20;
    display: flex;
    align-items: center;
}
#main .txt-Wrap .desc em {
    margin-left: 1vw;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50vw;
    padding: 0.5vw 2vw 0.6vw ;
    font-size: 1.2vw;
    vertical-align: bottom;
    line-height: 1;
}
#main .flower {
    position: absolute;
    bottom: 8.2vh;
    right: 12.8vw;
    z-index: 30;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 800px){
    #main .txt-Wrap h2 {
        font-size: 5vw;
    }
    #main .txt-Wrap h1 {
        bottom: 10vh;
    }
    #main .txt-Wrap .desc {
        right: 4vw;
        font-size: 3vw;
    }
}


/* mainbar */
.mainbar {
    width: 100%;
    height: 74px;
    background-color: #F2D4CD;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.mainbar img {
    height: 34px;
    margin-right: 75px;
    animation: bar 25s linear infinite;
}
@keyframes bar{
    0%{transform: translateX(0);}
    50%{transform: translateX(-50%);}
    100%{transform: translateX(-100%);}
}


/* contents */
#section1 .sec1 {
    height: 60vh;
}
#section1 .sec1 .bear {
    text-align: center;
    padding: 20vh 0 1vh 0;
}
#section1 .sec1 .txt {
    font-family: 'EliceDigitalBaeum_Regular';
    text-align: center;
    font-size: 2vw;
}
@media (max-width: 800px){
    #section1 .sec1 img {
        width: 15vw;
    }
    #section1 .sec1 .txt {
        font-size: 4vw;
    }
    
}

/* 스크롤 css */
.sec {
    opacity: 0;
    transition: all 1s;
}
.sec.show {
    opacity: 1;
    transform: translateY(3vh);
}

/* section1 어바웃*/
#section1 .about {
    display: flex;
}
#section1 .sec .txt-Wrap p {
    font-size: 3vw;
    line-height: 1;
    color: #F2D4CD;
}
#section1 .sec .txt-Wrap h1 {
    font-family: 'SBAggroB';
    font-size: 4vw;
    color: #DDA2A2;
}
#section1 .sec .txt-Wrap span {
    font-size: 1vw;
}
#section1 .about img {
    margin-right: 2vw;
}
@media (max-width: 800px){
    #section1 .about {
        display: inline-block;
        /* text-align: center; */
    }
    #section1 .sec .txt-Wrap p {
        font-size: 8vw;
    }
    #section1 .sec .txt-Wrap h1 {
        font-size: 10vw;
    }
    #section1 .sec .txt-Wrap span {
        font-size: 3vw;
    }
    #section1 .about img {
        width: 100%;
    }
}

#section1 .img2 {
    text-align: right;
    margin-top: -50vh;
    overflow: hidden;
}
#section1 .img2 .img-Wrap {
    overflow: hidden;
}
#section1 .img2 .img-Wrap .aboutimg1 {
    height: 120%;
}

@media (max-width: 800px){
    #section1 .img2 {
        width: 50vw;
        height: 50vw;
        margin-top: 10vh;
    }
    #section1 .img2 .img-Wrap .aboutimg1 {
        width: 100%;
        height: -0%;
    }
}

#section1 .sec3 {
    display: flex;
    margin-top: -5vh;
}
#section1 .sec3 .txt-Wrap {
    margin-right: 10vw;
}
#section1 .sec3 .aboutimg1 {
    margin-top: 2vh;
    position: relative;
}
#section1 .sec3 .sticker1 {
    position: absolute;
    left: 53vw;
    top: 14vh;
    transform: rotate(15deg) scale(0.5);
    animation: sticker 3s linear infinite;
}
#section1 .sec3 .sticker2 {
    position: absolute;
    left: 48vw;
    top: 20vh;
    transform: scale(0.8);
    animation: sticker2 3s linear infinite;
}
#section1 .sec3 .sticker3 {
    position: absolute;
    left: 51vw;
    top: 23vh;
    transform: rotate(-5deg) scale(0.8);
    animation: sticker 3s linear infinite;
}

@media (max-width: 800px){
    #section1 .sec3 {
        display: inline-block;
    }
    #section1 .sec3 .txt-Wrap {
        margin-top: 30vh;
        /* background: #000; */
    }
    #section1 .sec3 .aboutimg1 {
        margin-top: -30vh;
        width: 60vw;
        transform: translate(50%, -70%);
    }
    #section1 .sec3 .sticker1 {
        width: 10vw;
        top: -3vh;
    }
    #section1 .sec3 .sticker2 {
        width: 6vw;
        top: 3vh;
        left: 40vw;
    }
    #section1 .sec3 .sticker3 {
        width: 8vw;
        left: 48vw;
        top: 5vh;
        transform: rotate(30deg) scale(0.8);
    }
}
#section1 .sec4 {
    display: flex;
    gap: 2vw;
    position: relative;
    overflow: hidden;
}
#section1 .sec4 .gif {
    width: 45vw;
    height: 55vh;
    overflow: hidden;
    background-color: #000;
    background-image: url(../img/aboutimg3.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#section1 .sec4 .txt-Wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#section1 .sec4 .sticker4 {
    position: absolute;
    top: 10vh;
    right: 5vw;
    animation: sticker3 5s linear infinite;
}
#section1 .sec4 .sticker5 {
    position: absolute;
    top: 20vh;
    right: 10vw;
    animation: sticker4 3s linear infinite;
}

@media (max-width: 800px) {
    #section1 .sec4 {
        display: inline-block;
    }
    #section1 .sec4 .gif {
        width: 90vw;
        margin-top: -5vh;
        margin-bottom: 5vh;
    }
    #section1 .sec4 .sticker4 {
        width: 20vw;
        top: 40vh;
    }
    #section1 .sec4 .sticker5 {
        width: 20vw;
        top: 50vh;
    }
}

/* 어바웃 애니메이션 */
@keyframes sticker {
    100% {transform: translateY(-30px) rotate(15deg) scale(1);}
}
@keyframes sticker2 {
    100% {transform: translateY(-30px) rotate(-30deg);}
}
@keyframes sticker3 {
    100% {transform: rotateY(-360deg);}
}
@keyframes sticker4 {
    100% {transform: rotateY(-360deg);}
}


/* section2 */
#section2 .sec1 {
    height: 60vh;
}

#section2 .sec1 .bear {
    text-align: center;
    padding: 25vh 0 2vh 0;
}

#section2 .sec1 .txt {
    font-family: 'EliceDigitalBaeum_Regular';
    text-align: center;
    font-size: 1vw;
    align-content: center;
}
@media (max-width: 800px) {
    #section2 .sec1 img {
        width: 15vw;
    }

    #section2 .sec1 .txt {
        font-size: 3vw;
    }
}

#section2 .sec2 .bg {
    height: 20vh;
    width: 100vw;
    background-image: url(../img/main.jpg);
    opacity: 0.5;
    position: relative;
}
#section2 .sec2 .title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 9vw;
    white-space: nowrap;
    color: #fff;
    font-family: 'SBAggroB';
}


/* section3 */
#section3 .sec {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 960px);
}
#section4 .sec2,
#section4 .sec3,
#section4 .sec4,
#section4 .sec5 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 960px);
}

#section3 .sec1 .title, .stitle, view {
    color: #A7BDD5;
}

#section3 .sec .imgform {
    background-image: linear-gradient(to top, #CDDFF0, #F0D3E3);
    position: relative;
}

.imgform .mok {
    padding: 20vh 0 0 5vh;
}

.imgform .sticker1 {
    position: absolute;
    top: 12%;
    left: 5%;
}

.imgform .sticker2 {
    position: absolute;
    top: 8%;
    left: 12%;
}

.imgform .sticker3 {
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.txtform {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txtform .title {
    font-family: 'Tusker Grotesk 7700';
    font-size: 6rem;
    line-height: 0.9;
}

.txtform .stitle {
    font-family: 'Tusker Grotesk 7700';
    font-size: 5rem;
    -webkit-text-stroke: 1px #A7BDD5;
    color: #F4F4F2;
    margin-bottom: 30px;
}

.txtform .desc {
    font-size: 18px;
    margin-bottom: 120px;
}

.txtform .view {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 24px;
    border-radius: 50px;
    padding: 8px 30px 9px;
    background-color: #a7bdd5;
}
.txtform .view a {
    color: #F4F4F2;

}
#section3 .sec2 .imgform {
    background-image: linear-gradient(to top, #F0D3E3, #F9ECE7, #FFFCEA);
}
#section3 .sec2 .txtform .title {
    color: #EBC87D;
}
#section3 .sec2 .txtform .stitle {
    -webkit-text-stroke: 1px #EBC87D;
}
#section3 .sec2 .txtform .view {
    background-color: #EBC87D;
}

#section4 .sec1 .bg {
    height: 20vh;
    width: 100vw;
    background-image: url(../img/main.jpg);
    opacity: 0.5;
    position: relative;
}

#section4 .sec1 .title {
    position: absolute;
    right: 3vw;
    bottom: 5%;
    font-size: 6vw;
    white-space: nowrap;
    color: #fff;
    font-family: 'SBAggroB';
}

#section4 .sec2 .txtform .title {
    color: #EE6C65;
}

#section4 .sec2 .txtform .stitle {
    -webkit-text-stroke: 1px #EE6C65;
}

#section4 .sec2 .txtform .view {
    background-color: #EE6C65;
}

#section4 .sec3 .txtform .title {
    color: #095D87;
}

#section4 .sec3 .txtform .stitle {
    -webkit-text-stroke: 1px #095D87;
}

#section4 .sec3 .txtform .view {
    background-color: #095D87;
}

#section4 .sec4 .imgform {
    background-image: linear-gradient(to top, #A49AC9, #E4C4B1);
}

#section4 .sec4 .txtform .title {
    color: #857CA7;
}

#section4 .sec4 .txtform .stitle {
    -webkit-text-stroke: 1px #857CA7;
}

#section4 .sec4 .txtform .view {
    background-color: #857CA7;
}

#section4 .sec5 .txtform .title {
    color: #C689B8;
}

#section4 .sec5 .txtform .stitle {
    -webkit-text-stroke: 1px #C689B8;
}

#section4 .sec5 .txtform .view {
    background-color: #C689B8;
}
#section4 .sec2 .imgform .mok {
    padding: 0;
    height: 100vh;
}

#section4 .sec3 .imgform .mok {
    padding: 0;
    height: 100vh;
}

#section4 .sec4 .imgform .mok {
    padding: 0;
    height: 100vh;
    transform: translate(-2%);
}

#section4 .sec5 .imgform .mok {
    padding: 0;
    height: 100vh;
}

#section4 .sec2 .imgform {
    background-image: url(../img/siteimg1.png);
    width: 960px;
}
#section4 .sec5 .imgform .mok {
    height: 100vh;
}




#section5 .sec1 .bg {
    height: 20vh;
    width: 100vw;
    background-image: url(../img/main.jpg);
    opacity: 0.5;
    position: relative;
}

#section5 .sec1 .title {
    position: absolute;
    right: 3vw;
    bottom: 5%;
    font-size: 6vw;
    white-space: nowrap;
    color: #fff;
    font-family: 'SBAggroB';
}
#section5 .sec2 .but {
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
#section5 .sec2 .but .gosite {
    width: 10vw;
    border-radius: 50px;
    padding: 8px 30px 9px;
    background-color: #DDA2A2;
}
#section5 .sec2 .but .gosite a{
    color: #fff;

}
#section5 .sec2 .but .flower {
    position: absolute;
    top: 4vh;
    right: 3vw;
}
#section5 .sec3 {
    padding: 0 3vw ;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap : 2vw;
}
#section5 .boxani {
    height: 70vh;
}
#section5 .boxani:nth-child(1) {
    background-image: linear-gradient(to top, #F3D3C8, #FFE3DB);
    position: relative;
}

.box {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.box::before {
    content: "";
    width: 49px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 58px;
    left: 0;
    border-radius: 50%;
    opacity: 0.1;
    animation: shadow 0.58s linear infinite;
}

.box::after {
    content: "";
    background: #EE6C65;
    width: 49px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    animation: load 0.58s linear infinite;
}

@keyframes shadow {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes load {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translatey(9px) rotate(22.5deg);
    }

    50% {
        transform: translatey(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }

    75% {
        transform: translatey(9px) rotate(67.5deg);
    }

    100% {
        transform: translatey(0px) rotate(90deg);
    }
}

.boxani:nth-child(2){
    /* background-image: linear-gradient(to top, #A18CD1, #FDC2ED); */

    background-color: #fff2d8;
    position: relative;
}
#section5 .sec3 .bar {
    width: 5px;
    height: 400px;
    background-color: #ffd889;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: bar2 2s ease infinite;
}
@keyframes bar2 {
    0% {
        height: 0px;
        width: 0px;
        transform: rotate(0deg);
    }

    25% {
        height: 400px;
        width: 100px;
        transform: rotate(0deg);
    }

    75% {
        height: 400px;
        width: 5px;
        transform: rotate(180deg);
    }

    100% {
        height: 0px;
        width: 5px;
        transform: rotate(180deg);
    }
}

/* 하트 */
#section5 .sec3 .boxani:nth-child(3) {
    position: relative;
    background-color: #fff;
    /* animation: backdiv 2s infinite; */
}

@keyframes backdiv {
    50% {
        background: #ffe6f2;
    }
}

#section5 .sec3 .heart {
    background-color: pink;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }

    50% {
        transform: scale(0.6) rotate(-45deg);
    }
}

#section5 .sec3 .heart::after {
    background-color: pink;
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 25px;
}

#section5 .sec3 .heart::before {
    background-color: pink;
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0;
}

#section6 .sec1 .bg {
    height: 20vh;
    width: 100vw;
    background-image: url(../img/main.jpg);
    opacity: 0.5;
    position: relative;
    margin-bottom: 5vh;
}

#section6 .sec1 .title {
    position: absolute;
    right: 3vw;
    bottom: 5%;
    font-size: 6vw;
    white-space: nowrap;
    color: #fff;
    font-family: 'SBAggroB';
}

#section6 .sec iframe {
    margin: 0 auto;
    display: block;
    margin-top: -0.7vh;
    border: 3px solid #DDA2A2;
    margin-bottom: 10vh;
}
#section6 .sec2 .top {
    padding: 10vh 10.9vw 0;
    position: relative;
}
#section6 .sec2 .title em {
    font-style: normal;
    font-family: 'Tusker Grotesk 7600';
    font-size: 92px;
    color: #DDA2A2;
    margin-right: 10px;
    
}

#section6 .sec2 .title {
    font-family: 'Tusker Grotesk 7600';
    font-size: 3vw;
    -webkit-text-stroke: 2px #DDA2A2;
    color: #F4F4F2;
    display: inline-block;
    margin-right: 20px;
    line-height: 0;
}

#section6 .sec2 .top .bear {
    position: absolute;
    top: 6.2vh;
}


#footer {
    margin-top: 200px;
    height: 180vh;
    position: relative;
}
#footer .ftbox {
    height: 97vh;
    background-color: #E7AACD;
    /* position: relative; */
    border-bottom: 1px solid #2C2828;
}

#footer .ftimg1 {
    position: absolute;
    top: -5%;
    left: 5%;
}
#footer .ftimg2 {
    position: absolute;
    top: -5%;
    right: 20%;
}
#footer .ftimg3 {
    position: absolute;
    top: 12%;
    left: 20%;
}
#footer .ftimg4 {
    position: absolute;
    top: 20%;
    right: 0;
}
#footer .ftimg5 {
    position: absolute;
    top: 25%;
    left: 0;
}
#footer .ftimg6 {
    position: absolute;
    top: 35.22%;
    right: 15%;
}
#footer .ftbox .contact {
    padding: 35vh 0 15vh;
    text-align: center;
    font-family: 'Tusker Grotesk 7700';
    font-size: 80px;
}
#footer .ftbox .ready {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 18px;
    border: 1px solid #2C2828;
    border-radius: 50px;
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#footer .ftbox2 .line {
    width: 1px;
    height: 10vh;
    background-color: #2C2828;
    margin-top: 35vh;
}
#footer .ftbox2 {
    height: 50vh;
    background-color: #E7AACD;

    text-align: center;
    align-items: center;
    position: relative;
    padding-bottom: 80px;
    border-bottom: 1px solid #2C2828;
}
#footer .ftboxb {
    padding-top: 13vh;
    display: flex;
    justify-content: space-around;
}
#footer .ftbox2 .title {
    font-family: 'Tusker Grotesk 7700';
    font-size: 80px;
    line-height: 2;
    
}
#footer .ftbox2 .ftboxleft {
    position: relative;
    

}
#footer .ftbox2 .ftboxleft .txt {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 18px;
    border: 1px solid #2C2828;
    border-radius: 50px;
    padding: 5px 9px 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#footer .ftbox2 .ftboxmail {
    position: relative;
}
#footer .ftbox2 .ftboxmail .txt {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 18px;
    border: 1px solid #2C2828;
    border-radius: 50px;
    padding: 5px 9px 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#wrap {
    padding: 45px;
}

#footer #wrap .ftmenu {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    
}
#footer #wrap .ftmenu img {
    width: 36px;
    height: 36px;
}
#footer #wrap .ftmenu ul li {
    margin-left: 7px;
    line-height: 2;
    font-family: 'EliceDigitalBaeum_Bold';
}
#footer #wrap .thanks {
    /* display: flex; */
    text-align: center;
    position: relative;
}

#footer #wrap .thanks .me {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#footer #wrap .thanks .txt {
    font-size: 18px;
    font-family: 'EliceDigitalBaeum_Bold';
}
#footer #wrap {
    display: flex;
    justify-content: space-between;
}
#footer #wrap .thanks .flower {
    position: absolute;
    top: 0;
    left: 5%;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    #section2 .sec2 .bg {
        background-size: cover;
    }
    
    #section3 .sec {
        display: block;
        width: 100%;
    }
    .imgform .mok {
        padding: 10vh 10vw 10vh 0vh;
    }

    #section3 .sec1 img.mok {
        width: 100%;
    }
    .txtform {
        margin-top: 20px;
    }
    .txtform .title {
        font-size: 2.6em;
    }
    .txtform .stitle {
        font-size: 2.8em;
    }
    .txtform .desc {
        padding: 10px;
        font-size: 14px;
        margin-bottom: 40px;
    }
    #section3 .sec2 img.mok {
        width: 100%;
    }
    #section3 .sec2 .txtform {
        margin-top: 426px;
    }
    #section3 .sec2 .imgform {
        margin-top: -737px;
    }
    #section4 .sec1 .bg {
        margin-top: 100px;
    }

    #section4 .sec {
        display: block;
        width: 100%;
    }
    #section4 .sec2 .imgform {
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    #section4 .sec3 .imgform {
        width: 100%;
        height: 370px;
        background-size: cover;
        margin-top: -400px;
    }
    #section4 .sec3 .imgform .mok {
        width: 100%;
        height: auto;
    }
}