* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: #000;}
em {font-style: normal;}
body {overflow-x: hidden; overflow-y: auto; background-color: #f4f4f2; font-family: 'EliceDigitalBaeum_Regular';}
::selection {background-color: rgba(214, 255, 255, 0.212); color: rgb(255, 203, 203); -webkit-text-stroke: 1px #ffffff;}

::-webkit-scrollbar { width: 15px; } ::-webkit-scrollbar-track { background-color: #b2d4d8a4; } ::-webkit-scrollbar-thumb { background-color: #B2D4D8;}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* layout */
#contents {}
#section1 {
    height: 100vh;
    background: url(../img/mainbg.jpg) center center no-repeat;
    background-size: cover;
    padding: 3vw;
    cursor: url(../img/referimg-diaw.svg) , auto;
    opacity: 0.8;
}
.mainbar {
    width: 100%;
    height: 74px;
    background-color: #F2D4CD;
}
#section2 {

}

#section3 {}

#section4 {}

#section5 {}

/* header */
#header {
    position: fixed;
    left: 0px; top: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'SBAggroB';
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
#header h1 {
    color: #fff;
    padding: 3vw;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 400;
}
#header .nav {
    padding: 3vw;
    text-align: right;
}
#header .nav a {
    color: #fff;
    display: block;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 40px;
}
#header .submenu {
    display: none;
}
@media (max-width: 800px) {
    #header h1 {
        
        font-size: 1rem;
    }
}

/* sec1 */
.main {
}
.main .title {
    margin-top: 61vh;
}
.main .title h1 {
    font-size: 11.8vw;
    line-height: 1;
    font-family: 'SBAggroB';
    color: #fff;
}
.main .title .text {
    font-family: 'SBAggroB';
    color: #fff;
    margin-bottom: 4.6vh;
    text-align: left;
    font-size: 2rem;
    margin-left: 10px;
    padding-right: 0.7vw;
    
}
.main .title a {
    font-family: 'SBAggroB';
    font-weight: 100;
    font-size: 1.7rem;
    position: absolute;
    right: 1vw;
    bottom: 28vh;
    border: 5px double #fff;
    border-radius: 50px;
    padding: 7px 30px 3px;
    z-index: 10;
    color: #fff;
    /* cursor: url(../img/barredbear.svg), auto; */
}
@media (max-width: 1200px) {
    .main .title .text {
        margin-bottom: 2.5vh;
        font-size: 1.3rem;
    }
    .main .title a {
        bottom: 17.5vh;
        font-size: 1.1rem;
    }
    #section1 .flower {
        position: absolute;
        top: 80vh;
    }
}
@media (max-width: 800px) {
    .main .title .text {
        margin-bottom: 2vh;
        font-size: 1.2rem;
        padding-right: 4vw;
    }
    .main .title a {
        bottom: 16vh;
        font-size: 1.2rem;
        right: 1vw;
    }
    #header .nav a::after {
        background: none;
        bottom: 0;
    }
}
#section1 .flower {
    position: absolute;
    right: 21.5vw;
    top: 62vh;
    animation: rotate 10s linear infinite;
    z-index: 10;
    transform-origin: 50% 50%;
}
#section1 .flower2 {
    position: absolute;
    right: 40vw;
    top: 40vh;
    animation: rotate2 10s linear infinite;
    z-index: 10;
    transform-origin: 50% 50%;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate2 {
    100% {
        transform: rotate(-360deg);
    }
}


.mainbar{
    display: flex;
    align-items: center;
}
.mainbar img {
    height: 34px;
    margin-right: 75px;
    animation: bar 25s linear infinite;
}
@keyframes bar{
    0%{transform: translateX(0);}
    50%{transform: translateX(-50%);}
    100%{transform: translateX(-100%);}
}


/* section2 */
#section2 .sec1 {
    height: 60vh;
}
#section2 .sec1 .bear {
    text-align: center;
    padding: 20vh 0 1vh 0;
}
#section2 .sec1 .txt {
    font-family: 'EliceDigitalBaeum_Regular';
    text-align: center;
    font-size: 2rem;
}

/*sec2*/
#section2 .sec2 {
    position: relative;
}
#section2 .sec2 img {
    margin: 0 45px 0 0;
    
}
#section2 .pd {
    padding: 0 45px;
}
#section2 .sec2 .tt {
    display: inline-block;
    vertical-align: top;
}
#section2 .tt .num {
    margin-top: 1vh;
    font-size: 3rem;
    color: #F2D4CD;
    line-height: 1.4;
}
#section2 .tt .title {
    font-family: 'SBAggroB';
    line-height: 0.9;
    font-size: 5rem;
    color: #DDA2A2;
    margin-bottom: 20px;
}

#section2 .sec2 .tt .txt {
    font-size: 1rem;
}
#section2 .sec2 .img {
    position: absolute;
    right: 0;
    top: 50vh;
}
@media (max-width: 800px) {
    #section2 .sec2 img {
        margin-bottom: 2vh;
        width: 80vw;
    }
    #section2 .tt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section2 .tt .title {
        font-size: 3rem;
        text-align: center;
    }
    #section2 .tt .num {
        display: none;
    }
    #section2 .tt .txt {
        font-size: 0.8rem;
        text-align: center;
    }
    #section2 .sec2 .img {
        display: none;
    }
}
#section2 .sec3 {
    display: flex;
    justify-content: space-between;
}
#section2 .sec3 .img {
    text-align: right;
}
#section2 .sec4 {
    position: relative;
}
#section2 .sec4 .img {
    text-align: right;
    margin-right: 22.5vw;
    position: absolute;
    right: 0;
    top: -12vh;
}

#section2 .sec5 .gif {
    width: 45vw;
    height: 55vh;
    overflow: hidden;
    background-color: #000;
    background-image: url(../img/aboutimg3.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 55vh;
}
#section2 .sec5 {
    display: flex;
    align-items: flex-end;
}
#section2 .sec5 .tt {
    margin-left: 45px;
    vertical-align: bottom;
}

@media (max-width: 800px){
    #section2 .sec3 .tt {
        padding-top: 65vh;
    }
    #section2 .sec4 .img {
        top: -75vh;
        left: 10vw;
    }
    #section2 .sec4 .img img {
        width: 80vw;
    }
    #section2 .sec5 .gif {
        width: 80vw;
    }
    #section2 .sec5 {
        display: inline-block;
    }
    #section2 .sec5 .gif {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #section2 .sec5 .tt {
        margin-left: 0;
    }
}



#contents {
    animation: fade 2s linear;
}
@keyframes fade{
    0%{opacity: 0.1;}
    100%{opacity: 1;}
}
#contents #section1 {
    animation: zoom 1s linear;
}
@keyframes zoom{
    0%{transform: scale(2);}
    100%{transform: scale(1);}
}
#contents #section1 .title {
    animation: no1 2s;
}
@keyframes no1{
    0%{transform: scale(0); opacity: 0;}
    50%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
#header {
    animation: no 2s;

}
@keyframes no{
    0%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}



#contents  {
    animation: fade 2s linear;
}
@keyframes fade{
    0%{opacity: 0.1;}
    100%{opacity: 1;}
}
#contents #section1 {
    animation: zoom 1s linear;
}
@keyframes zoom{
    0%{transform: scale(2);}
    100%{transform: scale(1);}
}
#contents #section1 .title {
    animation: no1 1s;
}
@keyframes no1{
    0%{transform: scale(0); opacity: 0;}
    25%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
#header {
    animation: no 1s;

}
@keyframes no{
    0%{transform: scale(0); opacity: 0;}
    25%{transform: scale(2); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}