@charset "utf-8";

$colors: rgba(255, 182, 182, 0.5), #B2D4D8, #F5D8D8; 

.square {
  width: 1920px;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media(max-width: 800px) {
  .square {
    width: 100%;
    transform: scale(0.1);
    left: 0;
    top: 0;
    transform: translate3d(-15%, 0, 0);
  }
  .light:nth-child(n+125):nth-child(-n+218) {
    display: none;
  }
}



.light {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #F5BAC4;
  position: relative;
  float: left;
  transition: all .5s ease;
  opacity: 1;
}
.light:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 120px;
  height: 120px;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 0;
}

@for $i from 1 through 218 {
  .light:nth-child(#{length($colors)}n + #{$i}) {
    margin-left: random(48) + vw;
    animation: orbit 6s linear (random($i) + -150s) infinite;
    background: nth($colors, random(length($colors)));
  }
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg) scale(.25);
  }
  100% {
    transform: rotate(360deg) translateX(5px) rotate(-360deg) scale(1);
  }
}